
<div class="text-center">
    <h1 class="display-4">Soy Fanny Campos</h1>
    <h2>Desarrollador Full Stack</h2>

    <img id="foto"
         src="~/imagenes/foto.jpeg"
         alt="Foto de Fanny Campos A" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div>
    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Te doy la bienvenida a mi portafolio</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper sapien ac aliquam iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ut purus auctor, vulputate odio sed, semper erat. Mauris tincidunt cursus enim quis posuere. Morbi interdum, tortor hendrerit commodo volutpat, enim augue imperdiet mi, eu consectetur risus est ac leo. Phasellus aliquet volutpat sollicitudin. Phasellus ac mauris sit amet massa luctus pulvinar. Vivamus semper, mi vel gravida volutpat, orci libero commodo velit, non porta lorem nulla nec lectus. Cras egestas libero semper pharetra ullamcorper. Mauris pulvinar turpis nec quam vehicula, ac venenatis sem imperdiet. Vestibulum pharetra aliquet ex, non varius est sodales eget. Donec lorem mi, viverra id enim vel, vulputate volutpat felis.
            </p>
        </div>
    </div>
</div>
