@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Fanny Campos A</h1>
    <h2>Desarrollador Full Stack</h2>

    <img style="width:200px; margin: 2rem 0; border-radius:50%" 
        src="~/imagenes/foto.jpeg" 
        alt="Foto de Fanny Campos A" />
</div>
