@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Fanny Campos</h1>
    <h2>Desarrollador Full Stack</h2>

    <img id="foto" 
         src="~/imagenes/foto.jpeg" 
         alt="Foto de Fanny Campos A" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo"/>
</div>

<div>
    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Te doy la bienvenida a mi portafolio</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ullamcorper sapien ac aliquam iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur ut purus auctor, vulputate odio sed, semper erat. Mauris tincidunt cursus enim quis posuere. Morbi interdum, tortor hendrerit commodo volutpat, enim augue imperdiet mi, eu consectetur risus est ac leo. Phasellus aliquet volutpat sollicitudin. Phasellus ac mauris sit amet massa luctus pulvinar. Vivamus semper, mi vel gravida volutpat, orci libero commodo velit, non porta lorem nulla nec lectus. Cras egestas libero semper pharetra ullamcorper. Mauris pulvinar turpis nec quam vehicula, ac venenatis sem imperdiet. Vestibulum pharetra aliquet ex, non varius est sodales eget. Donec lorem mi, viverra id enim vel, vulputate volutpat felis.
            </p>
        </div>
    </div>
</div>

<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <h3>Back-end</h3>
            <p>
                Aliquam sollicitudin convallis justo congue placerat. In hac habitasse platea dictumst
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0px 15px 15px 0px; box-shadow: 0 5px 5px 0 gray">
            <h3>Front-end</h3>
            <p>
                Aliquam sollicitudin convallis justo congue placerat. In hac habitasse platea dictumst
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Blazor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
    </div>
</div>
