@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Fanny Campos A</h1>
    <h2>Desarrollador Full Stack</h2>

    <img id="foto" 
         src="~/imagenes/foto.jpeg" 
         alt="Foto de Fanny Campos A" />
</div>
